@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600;700;800;900&display=swap');

:root {
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  color: #5d5d5d;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 12px 0;
}

p {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .App_Title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .App_Box {
    display: block;
    max-width: 300px;
  }
}